@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

body {
    font-family: 'Fira Sans Condensed', sans-serif;
}

#title {
    display:flex;
    justify-content: center;
    align-items: center;
}

#subtitle {
    display:flex;
    justify-content: center;
    align-items: center;
}

#survey-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


